body{

    min-width: 361px;
    max-width: 4000px;
    height:100%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    display: grid;
    place-items: center;



}

a{
    font-size: 1.5rem;
    color:black;
}

.banner{

    font-size: 5rem;
    text-align: center;
    color:blue;
    padding-top:2rem;
}

.page-container{

    width:90%;
    max-width: 2000px;
    background-color: beige;
    margin-left: 5%;
    margin-right: 5%;
    height:100vh
    
    
    

}

.artwork-title {
    font-size:2.1rem;
    padding-top:13%;
    margin-bottom:1rem;
    text-align: center;
    width:100%;
}

.artwork-link {
    font-size:.8rem;
    margin-top:2rem;
    margin-bottom:2rem;
    text-align: center;
    width:100%;
}
.artwork-link-spacing {
    margin-top:3rem;
    margin-bottom:3rem;
}


.page-container{
width:50%;

}

.CategoryContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    text-align:center;
    margin-bottom:5rem;
    margin-left:4rem;
    margin-right:2rem;
    
    
  }

/*3*/
@media (max-width: 872px) {

body{

    
}

.CategoryContainer{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.artwork-title{

    
    
    
    

}

.artwork-link{
 
    font-size:1.0rem;
    margin-bottom: 2rem;
}





}




