body{

    min-width: 361px;



}

.page-container{

    width:90%;
    max-width: 2000px;
    
    margin-left: 5%;
    margin-right: 5%;
    

}

.artwork-title {
    font-size:1.1rem;
    margin-top:2.5rem;
    margin-bottom:1rem;
   
    text-align: center;
    width:100%;
}

.artwork-link {
    font-size:.8rem;
    margin-top:.5rem;
    margin-bottom:2rem;
    text-align: center;
    width:100%;
}
.artwork-link-spacing {
    margin-top:3rem;
    margin-bottom:3rem;
}


.page-container{
min-width:300px;

}

.CategoryContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    text-align:center;
    margin-bottom:5rem;
    margin-left:2rem;
    margin-right:2rem;
  }

/*3*/
@media (max-width: 872px) {

body{

    
}

.CategoryContainer{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.artwork-title{

    
    
    
    

}

.artwork-link{
 
    font-size:1.0rem;
    margin-bottom: 2rem;
}





}




