body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container{
    

}
/*Above 871px*/
input{
    transform: scale(2.0);
    width:.6rem;
    height:2rem;
    margin:.4rem
    
}


img {
   width:90%;
    margin:5%;
   
    border: 2px solid black;
}

.imageHeading{
    font-size: 2rem;
}

.image-holder{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width:100%;
  }

  input{
    width: .5rem;
    margin: .5rem;
    }



  /*See category-styles.css : 871*/
    @media (max-width: 871px) {

        body{
            height:120%;
        }
        .image-holder{
        
        display: flex;
       
        justify-content: center;
        align-items:center ;
        width:100%;
      }

    input{
    width: .5rem;
    margin: .5rem;
        }


    }

    
    @media (max-width: 500px) {

        .image-holder{
           
            width:90%;
            margin-left:5%;
            margin-right:5%;
        }

        img{
            width:100%;
        }
        input{
        width: .5rem;
        margin: .5rem
        }
    }

    @media (max-width: 385px) {
        
   .artwork-title{
        font-size: 1px;
   
        background-color:yellow;

    }
    .image-holder{
        width: 12rem;
        margin:0%;
        padding:0%;
    }
    }
    



