body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container{
    font-size: 2rem;
}

.artwork-title{
    font-size: 20rem;
}

/*Above 871px*/
input{
    transform: scale(2.0);
    width:.6rem;
    height:2rem;
    margin:.4rem
    
}


img {
   width:90%;
    margin:5%;
   
    border: 2px solid black;
}

.imageHeading{
    font-size: 2rem;
}

.image-holder{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width:100%;
  }

  input{
    width: .5rem;
    margin: .5rem;
    }


/*
  
    @media (max-width: 871px) {

        body{
            height:120%;
        }
        .image-holder{
        
        display: flex;
       
        justify-content: center;
        align-items:center ;
        width:100%;
      }

    input{
    width: .5rem;
    margin: .5rem;
        }


    }

    
    @media (max-width: 500px) {

        .image-holder{
           
            width:90%;
            margin-left:5%;
            margin-right:5%;
        }

        img{
            border: 2px solid black;
            
           
        
        }
        input{
        width: .5rem;
        margin: .5rem
        }
    }

    */
    @media (max-width: 350px) {
        
   .container{
        font-size: 1px;
        background-color:yellow;
        margin:0rem;
        padding:0rem;
        

    }
    .image-holder{
        
        margin:0rem;
        padding:0rem;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
        
        
        
    }
    .Image{

        background-color: blue;
        width:100px;
        
       
    }
    img{

        

        
        
    }
    }
    



