
/* @ this is used by default, otherwise if overruled, use the global:(<value>) in components module.css style file  */
html {
    font-size: 16px; 
    
    
}


 body{

    min-width: 350px;
    max-width: 8000px;
    
    width: 100%;
   
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    
    

}
