/*This style is used by default. 
If overridden, the component will use the global: (<value>){ html, body } defined in the module.css file.
This allows component-specific styles to fall back to or override global styles applied to the html and body elements. */

html {
  font-size: 16px;
}

body {
  min-width: 350px;
  max-width: 8000px;

  width: 100%;

  display: flex;
  /*centers content horizontally */
  justify-content: center;
  /* Centers content vertically */ 
  align-items: center; 
}
