
html {
    font-size: 16px;
    
    
}


 body{

    min-width: 350px;
    max-width: 2000px;
    
    width: 100%;
    background-color:beige;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    
    

}


.ArtistsContainer{

    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.ArtistTitle{

    font-size: 2.5rem;
    text-align: center;
   
}

.ImagesContainer{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 2rem;;
  
}

.ArtistImage{
 max-width: 100%;
  height: auto;
  flex: 1;              
  object-fit: cover;
}





a{
    font-size: 1.25rem;
    color:black;
    margin-bottom: 0rem;
    margin-top: .2rem;
}







.ButtonContainer{

    display: flex;
    justify-content: center;
}

.ButtonShow{

    font-size: 1.25rem;
    margin-top: 2rem;
    
}

.PageContainer{
    width:100%;
    max-width: 2000px;
    height:100vh;
    
}

h1{
    color: blue;
    text-align: center;
    font-size: 2.5rem;
}

h2{
    text-align: center;
    font-size: 2rem;
}
.ArtworkTitle {
    
    padding-top:.0rem;
    margin-top: 0rem;
    margin-bottom:.4rem;
    width:94%;
    margin-left:3%;
    margin-right:3%;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.ArtworkLink {
    font-size:.65rem;
    margin-top:.5rem;
   
    display: flex;
    justify-content: center;
    width:100%;
}



.PageContainer{

padding-bottom:5rem;
}
 
.ContainerForCard{

    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    
   
}

.image-holder{
        
    margin:0rem;
    padding:0rem;
    display: flex;
flex-direction: column;
justify-content: center;
align-items:center ;
    
    
    
}
    .Image{

       
        width:80%;
        margin-left:  10%;
        margin-right: 10%;
        
       
    }

    input{
        transform: scale(4.0);
        width:.7rem;
        height:1.25rem;
        margin:1.25rem;
        margin-bottom: 0rem;
        
        
        
        
    }


    .UpperGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .ImageHeading{
        font-size: 2rem;
        margin-bottom: .1rem;
        margin-top: 2rem;
        text-align: center;
    }


    .ImageContainer{
        width: 15rem;
       
        display: flex;
        justify-content: center;
        align-content: center;
        
        
    }
   
    
    .Text{
        font-size: 2rem;
        text-align: center;
        
    }

    .OuterContainer{
    display: flex;
    justify-content: center;
    align-content: center;
        
    }
    .PanelContainer{
    
    height:300px;
    margin-top: 1rem;
    background-color:white;
    overflow-y: auto;
    width:15rem;
    
    margin-bottom: 3rem;
    border:2px solid black;
    
    
    }

    .PanelImage{
        width:15rem;
       
        font-size: 2rem;
        align-content: center;
        
    }

    
    .ComponentGui {
        font-size: 1rem;  
        
       
    }
    
    .ComponentArtpiece {
       
        
    }
    
    


    .InputContainer{
        
        display: flex;
                justify-content: center; 
                align-items: center; 
    }
    
    
    
    .Banner{
        
        text-align: center;
        
        padding-top:0rem;
        padding-bottom: 0rem;
        margin-bottom: .5rem;
    }

<<<<<<< HEAD

    .ArtistTitle{
    margin-top:1rem;
    margin-bottom:1rem;
    font-size:2rem;
    text-align: center;
    }
=======
    .GridContainer{

        display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    
    }

>>>>>>> fixModuleCSS
   
    .Artists{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
       
        
        
    }

    .FaceImages{

    }

    .FaceContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        height:  100vh;
        
    }

    img {
        margin-left: 10%;
        margin-right: 10%;
        width:80%

       

      }




@media (min-width: 350px) {
    html {
        font-size: 16px;  
    }
}


@media (min-width: 406px) {
    html {
        font-size: 17px;  
    }
    body{
       
    }

    .Image{

        
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
    }
   
}




@media (min-width: 500px) {
    html {
        font-size: 18px;
    
     }
     
     
     .Image{

       
        width:80%;
        margin:0%;
    }
    

    .Grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        text-align:center;
        margin-bottom:5rem;
        width:100%;
        margin-left:5%;
        margin-right:5%;
        
    }

    .PanelContainer{
    
        height:300px;
       
    }

    
}


    @media (min-width: 800px) {
       
        html{
            
            font-size: 20px;
           
        }

        .Grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        }
        
        .PanelContainer{
        height: 300px;
        }

        .Image{
            width:100%;
            background-color: rgb(198, 192, 255);
            margin: 0%;
            padding:0%;

        }
    
    }


    @media (min-width: 1198px) {

        

        
        html{
            
            font-size: 22px;
           
        }

        body{
           
            
            width:100%;
            
            display: flex; 
            justify-content: center; 
            align-items: center;
            margin: 0%;    
            padding: 0%; 
            
        }

        .PanelContainer{
            height: 300px;
            }

        .PageContainer{
            width: 100%; 
            max-width: 1200px;
            margin-left: 0%;
            margin-right: 0%;
            
            

        }

        
        .Grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
            row-gap: 20px;
            column-gap: 20px;
            text-align:center;
            margin-bottom:5rem;
            width:100%;
            margin-left:0%;
            margin-right:0%;
        
       
       
            }

            


        

        .Image{
            width:100%;
            margin: 0%;
            padding: 0%;
        }
    }









