
html {
    font-size: 16px;
}


 body{

    min-width: 350px;
    max-width: 2000px;
    
    width: 100%;
    background-color:beige;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
   


}

a{
    font-size: .5rem;
    color:black;
    margin-bottom: .3rem;
    margin-top: .2rem;
}







.ButtonContainer{

    display: flex;
    justify-content: center;
}

.ButtonShow{

    font-size: .5rem;
}

.PageContainer{
    width:100%;
    max-width: 2000px;
    height:100vh;
    
}

.artworktitle {
    font-size:.9rem;
    padding-top:.0rem;
    margin-bottom:.7rem;
    width:94%;
    margin-left:3%;
    margin-right:3%;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.ArtworkLink {
    font-size:.65rem;
    margin-top:.5rem;
   
    display: flex;
    justify-content: center;
    width:100%;
}



.PageContainer{

padding-bottom:5rem;
}
 
.image-holder{
        
    margin:0rem;
    padding:0rem;
    display: flex;
flex-direction: column;
justify-content: center;
align-items:center ;
    
    
    
}
    .Image{

        background-color: blue;
        width:80%;
        margin-left:  10%;
        margin-right: 10%;
        
       
    }

    input{
        transform: scale(2.0);
        width:.6rem;
        height:2rem;
        margin:.4rem;
        
        
        background-color: rgb(205, 50, 138);
        
    }


    .upperGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .ImageHeading{
        font-size: .6rem;
        margin-bottom: .1rem;
        margin-top: .6rem;
        text-align: center;
    }


    .ImageContainer{
        width: 15rem;
       
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: aquamarine;
        
    }
   
    
    .Text{
        font-size: .8rem;
        text-align: center;
    }
    
    .OuterContainer{
    display: flex;
    justify-content: center;
    align-content: center;
        
    }
    .PanelContainer{
    
    height:300px;
    margin-top: 1rem;
    background-color:white;
    overflow-y: auto;
    width:15rem;
    
    margin-bottom: 3rem;
    border:2px solid black;
    
    
    }

    .PanelImage{
        width:15rem;
       
        font-size: 2rem;
        align-content: center;
        
    }

    
    .ComponentGui {
        font-size: 1rem;  
        
       
    }
    
    .ComponentArtpiece {
        font-size: 1rem;  
        
        width:100%;
        
    }
    
    


    .InputContainer{
        
        display: flex;
                justify-content: center; 
                align-items: center; 
    }
    
    
    
    .Banner{
        font-size: 1.2rem;
        text-align: center;
        color:blue;
        padding-top:1rem;
        padding-bottom: .1rem;
    }

   




@media (min-width: 350px) {
    html {
        font-size: 16px;  
    }
}


@media (min-width: 406px) {
    html {
        font-size: 16px;  
    }
    body{
       
    }

    .Image{

        background-color: blue;
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
    }
   
}




@media (min-width: 500px) {
    html {
        font-size: 16px;
    
     }
     
     
     .Image{

        background-color: blue;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    

    .Grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        text-align:center;
        margin-bottom:5rem;
        margin-left:2.5%;
        margin-right:2.5%;
    }

    .PanelContainer{
    
        height:300px;
       
    }
}


    @media (min-width: 800px) {
       

        .Grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        }
        
        .PanelContainer{
        height: 300px;
        }
    
    }


    @media (min-width: 1198px) {

        body{
           
            height: 100%; 
            margin: 0;    
            display: flex; 
            justify-content: center; 
            align-items: center; 
        }

        .PanelContainer{
            height: 300px;
            }

        .PageContainer{
            width: 80%; 
            max-width: 1200px;
            margin-left: 10%;
            margin-right: 10%;
            box-sizing: border-box; 
            

        }

        .Grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            }


        

        .Image{
            width:100%
        }
    }









