.Text {
  font-size: 2rem;
  text-align: center;
}

.ImageContainer {
  width: 15rem;

  display: flex;
  justify-content: center;
  align-content: center;
}

.PanelImage {
  width: 15rem;

  font-size: 2rem;
  align-content: center;
}

.title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}
